body{
    background-color: rgb(196, 141, 246);
    font-size: 25px;
    font-family: 'Trebuchet MS';
    text-align: center;
    color: rgb(48, 7, 87);
}
h1{
    font-family: monospace;
    background-color: rgb(177, 123, 227);
    font-size: 30px;
}
input{
    text-align: center;
    font-size: 25px;
}
footer{
    font-size: 20px;
    font-family: monospace;
}
